/* == fonts from google and other sources ===*/

@import url("https://fonts.googleapis.com/css2?family=Grenze:wght@500&family=Montserrat:wght@400;500;700&display=swap");

@font-face {
  font-family: "SinkinSans";
  src: url("../SinkinSans-200XLightItalic.otf");
  font-weight: 200;
}

/* ===== general specification ====*/

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  background: url("../images/geometric-leaves.png") center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #943c34;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #943c34;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(30, end);
}

h1,
h5 {
  font-family: "Grenze", serif;
  text-shadow: 1px 1px 1px #00753f;
  font-weight: 400;
}
h5,
i {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-style: italic;
  color: #00753f;
}

/* ====== card ==== */
.card-top {
  padding: 0.5rem 0;
  box-shadow: 1px 5px 1px 1px grey;
}

.card-letter {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
}

.card-letter:first-letter {
  float: left;
  padding: 5px 5px 0 5px;
  font-size: 70px;
  color: black;
  line-height: 45px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.534);
}

.wrapper {
  flex: 1 0 auto;
}
.welcome-image {
  width: 125px;
}
/* ==== carousel =====*/

.carousel-image {
  max-height: 650px;
}
.carousel_image {
  filter: sepia(0.3);
}
.carousel_image-center {
  filter: invert(0.2);
}

/*===== navigation,icons,buttons ===== */

.navbar {
  background: url("../images/geometric-leaves.png") center;
  border-bottom: 1px solid rgba(0, 128, 0, 0.13);
}
.product-icons {
  width: 30px;
  height: 30px;
}
.icons {
  width: 50px;
  height: 50px;
}

.nav-item:hover {
  background-color: #00753e63;
  border-radius: 0 0.5rem;
}
a {
  text-decoration: none;
  color: #0d0d0d;
}
a:hover {
  color: #943c34;
}

.btn-decor {
  font-family: "SinkinSans";
  background-color: #00753eec;
  box-shadow: 1px 1px 1px 1px #943c34;
  color: white;
}

.nav-item {
  margin: 10px;
  animation: blink 0.3s ease-out;
}

/*===== footer ===== */
footer {
  padding: 1rem;
  margin: 1rem;
  flex-shrink: 0;
  text-align: center;
  color: #0d0d0d;
  border-top: 1px solid rgba(0, 128, 0, 0.212);
}

footer i {
  color: #943c34;
}

.footer-icon > span {
  padding: 0.75rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}

/*===== media screens ===== */
@media (min-width: 750px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}
